* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

.custom-mt-5 {
  margin-top: 5rem;
  font-weight: 500;
}

.custom-mt-3 {
  margin-top: 1rem;
}

.custom-w-1 {
  max-width: 500px;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 50px;
  font-size: 3rem;
}

.custom-mt-5,
.custom-w-1,
.box-line-1,
.btn-color-1,
.txt-1 {
  margin-left: 12rem;
}

.custom-color-1 {
  color: rgb(255, 174, 0);
}

.custom-txt-1 {
  margin-top: 2rem;
  font-size: 1.2rem;
  font-weight: 500;
  max-width: 400px;
  color: #b1b0b0;
  margin-left: 1rem;
}

.box-line-1 {
  width: 5px;
  height: 40px;
  background-color: #b1b0b0;
  margin-top: 1rem;
}

.btn-color-1 {
  background-color: rgb(255, 174, 0);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  border: none;
  color: white;
  font-weight: 500;
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  border-radius: 25px;
  margin-top: 2rem;
}

.btn-shp-1 {
  background-color: rgb(255, 174, 0);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  border: none;
  color: white;
  font-weight: 500;
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  border-radius: 25px;
  margin-left: 1rem;
}

.navbar-nav-link-1 {
  color: black;
  font-weight: 600;
}

.btn-w-1 {
  width: 3rem;
  margin-top: 2rem;
  margin-left: 1.2rem;
}

.chr-pics-1 {
  margin-right: 12rem;
  margin-left: 3rem;
}

.txt-1 {
  margin-top: 3.3rem;
  font-size: 1rem;
  font-weight: 500;
  max-width: 400px;
  color: #b1b0b0;
}

.txt-2 {
  font-size: 1.5rem;
  font-weight: 500;
  margin-left: 1rem;
}

.link-color {
  color: #fbcc66;
}

.shpe-hgt-1 {
  height: 290px;
  width: 700px;
  border-radius: 5px;
  background-color: #fff2f1;
}

.shpe-hgt-2 {
  height: 290px;
  width: 700px;
  border-radius: 5px;
  background-color: #eaf1f4;
}

img {
  border-radius: 10px;
}

.chr-edt-1 {
  width: 300px;
  margin-left: 22rem;
  margin-bottom: 300rem;
}

.margin-top-1 {
  margin-top: 10rem;
}

.bld-txt-1 {
  font-weight: 700;
  font-size: 1.6rem;
  color: black;
  margin-top: 5rem;
  margin-left: 1rem;
}

/* Add a font-weight of 500, font-size of 1rem, color of #b1b0b0, margin-top of 1rem, and margin-left of 1rem for an element with the class "mute-txt-1" */
.mute-txt-1 {
  font-weight: 500;
  font-size: 1.6rem;
  color: #000000;
  margin-top: 1rem;
  margin-left: 1rem;
}

.content-1 {
  margin-top: 16rem;
}

.content-h1-1 {
  font-weight: 700;
  font-size: 2.5rem;
  color: black;
  margin-top: 5rem;
}

.content-p-1 {
  font-weight: 500;
  font-size: 1.2rem;
  color: #b1b0b0;
  margin-top: 1rem;
  width: 600px;
}

.content-h1-2 {
  font-weight: 700;
  font-size: 2.5rem;
  color: black;
  margin-top: 25rem;
}
.content-p-2 {
  font-weight: 500;
  font-size: 1.2rem;
  color: #b1b0b0;
  margin-top: rem;
  width: 600px;
}

.product-mrg-1 {
  margin-top: 5rem;
  margin-left: 15rem;
  margin-right: 15rem;
}

.prd-spc-1 {
  margin-top: 5rem;
  margin-left: 12rem;
  margin-right: 12rem;
}

.mrg-rig-1 {
  margin-left: 15rem;
}

.prd-txt-1 {
  font-weight: 700;
  font-size: 1.7rem;
  color: black;
  margin-top: 6rem;
  margin-left: 12.5rem;
  margin-right: 12.5rem;
  text-transform: uppercase;
  position: relative;
  z-index: 2;
}

.prd-txt-3 {
  font-weight: 500;
  font-size: 2.7rem;
  color: #f0f0f0;
  margin-top: 5rem;
  margin-left: -57rem;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
}

.prd-txt-2 {
  font-size: 1.3rem;
  color: black;
  margin-top: 6rem;
  margin-left: 12.5rem;
  margin-right: 12.5rem;
  text-transform: capitalize;
}

.full-width {
  width: 100%;
}

.img-1 {
  margin-top: 5rem;
}

.txt-3 {
  font-size: 1.6rem;
  color: rgb(0, 0, 0);
  margin-top: -29rem;
  margin-left: 18rem;
  margin-right: 12.5rem;
  text-transform: capitalize;
}
.txt-4 {
  font-size: 2.5rem;
  font-weight: 700;
  color: rgb(0, 0, 0);
  margin-top: -1rem;
  margin-left: 12.5rem;
  margin-right: 12.5rem;
  text-transform: uppercase;
}

.buton {
  background-color: #ffae00;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  border: none;
  color: white;
  font-weight: 500;
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  margin-top: 2rem;
  margin-left: 18rem;
  margin-right: 12.5rem;
  height: 5rem;
  width: 12rem;
}

.icon-1 {
  margin-bottom: 6px;
  margin-right: 8px;
  color: rgb(152, 151, 158);
}
.icon-2 {
  margin-bottom: 6px;
  margin-left: 18px;
  margin-right: 8px;
}



.box-1 {
  margin-top: 5rem;
  background-color: #1e6b73;
  height: 30rem;
}

.end-txt {
  position: absolute;
  font-size: 1.2rem;
  color: #ffffff;
  width: 30%;
  margin-top: 9rem;
  margin-left: 54rem;
  margin-right: 12.5rem;
  line-height: 3;
  font-weight: bold;
}
.end-txt-1 {
  position: absolute;
  font-size: 1rem;
  color: #f0f0f0;
  width: 30%;
  margin-top: 12rem;
  margin-left: 12.5rem;
  margin-right: 12.5rem;
  line-height: 3;
}
.end-txt-2 {
  position: absolute;
  font-size: 1rem;
  color: #ffffff;
  width: 30%;
  margin-top: 12rem;
  margin-left: 54rem;
  line-height: 3;
}
.end-txt-3 {
  position: absolute;
  font-size: 1rem;
  color: #ffffff;
  width: 30%;
  margin-top: 15rem;
  margin-left: 54rem;
  line-height: 3;
}
.end-txt-4 {
  position: absolute;
  font-size: 1rem;
  color: #ffffff;
  width: 30%;
  margin-top: 18rem;
  margin-left: 54rem;
  line-height: 3;
}
.end-txt-5 {
  position: absolute;
  font-size: 1rem;
  color: #ffffff;
  width: 30%;
  margin-top: 21rem;
  margin-left: 54rem;
  line-height: 3;
}

.icon-3 {
  margin-top: 346px;
  margin-left: 177px;
  margin-right: 8px;
}
.margine-right-0 {
  margin-left: 10rem;
}
.margin-right-1 {
  margin-left: 13rem;
}
.margin-right-2 {
  margin-left: 26rem;
}
@media only screen and (max-width: 768px) {
  .custom-mt-5,
  .custom-w-1,
  .box-line-1,
  .btn-color-1,
  .txt-1 {
    margin-left: 2rem;
  }

  .chr-pics-1 {
    margin-right: 6rem;
  }
}

/* Media query for screens with a maximum width of 576px */
@media only screen and (max-width: 576px) {
  /* Reduce the margin-left to 1rem for elements with the classes "custom-mt-5", "custom-w-1", "box-line-1", "btn-color-1", and "txt-1" */
  .custom-mt-5,
  .custom-w-1,
  .box-line-1,
  .btn-color-1,
  .txt-1 {
    margin-left: 1rem;
  }

  .chr-pics-1 {
    margin-right: 1rem;
    margin-left: 1rem;
  }
}
